<!DOCTYPE html>
<html>
  <head>
    <title>RafaellaRussi</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

    <%# --------------------------------- NAVBAR --------------------------------- %>

    <div class="navbar sticky-top bg-light navbar-expand-sm navbar-light navbar-lewagon shadow">
      <div class="container-fluid">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag("logo_rafaellarussi.png") %>
        <% end %>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ">
            <li class="nav-item mx-2 active">
              <%= link_to "Saúde da Criança", pediatria_path, class: "navbar-link" %>
            </li>
            <li class="nav-item mx-2">
              <%= link_to "Saúde da Mulher", mulher_path, class: "navbar-link" %>
            </li>
            <li class="nav-item mx-3">
              <%= link_to "Atendimentos", atendimento_path, class: "navbar-link " %>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <%# --------------------------------- END OF NAVBAR --------------------------------- %>

    <%= yield %>

    <%# ----------------------- FOOTER -----------------------  %>

    <div class="footer">
      <div class="footer-links">
        <a href="https://www.instagram.com/rafaellarussi/"><i class="fab fa-instagram"></i></a>
        <a href=mailto:"rafaellarussi@gmail.com"><i class="fa-solid fa-at"></i></a>
        <a href="https://wa.me/xxxxxxxx"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>
  </body>
</html>
